################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/WebApplication1/.vs/WebApplication1/FileContentIndex/62a2b896-eb35-4102-91be-ace5f63cd301.vsidx
